---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: swiggy-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: swiggy
  template:
    metadata:
      labels:
        app: swiggy
    spec:
      strategy:
        type: RollingUpdate
        rollingUpdate:
          maxUnavailable : 1
          maxSurge: 1

      containers:
      - name: container-1
        image: vishalgogula123/devops:dm
        ports:
        - containerPort: 80
        envFrom:
          - configMapRef:
               name: swiggy-config
          - secretRef:
              name: swiggy-secret
